#home {
    text-align:center;
    background-color:#d7a1f9;
    background-size:cover;
    padding: 20px;
    font-size: 20px;
}

#context-1{
    background-color:#c576f6;
}

#bg {
    text-align: center;
    padding-top: 55px;
    background-color:#d7a1f9;
    background-image: url('');
   
}
.pad {
    padding-top:15px;
}

#past{
    text-align:center;
    background-color:#F676E7;
    background-size:cover;
    padding: 20px;
    font-size: 20px;
}
#past-1 {
    background-color:#ebecf0;
}

#past2{
    text-align:center;
    background-color:#ADD8E6
;
    background-size:cover;
    padding: 20px;
    font-size: 20px;
}
/*@media (min-width: 301px) and (max-width: 600px) {
  #slogan {
    background-size:cover;
  
    background-image: image-url("imgs/music-2.jpg");
  }
}*/

